/* our gallary start */
#gallary{
    width: 80%;
}
.heading5{
    text-align: center;
    color: black;
    margin-top: 60px;
    font-size: 30px;
    font-weight: bold;
}
#gallary .heading5 span{
    color: #b2744c;
}
#gallary .card{
    border-radius: 10px;
    cursor: pointer;
}
#gallary .card img{
    border-radius: 10px;
}
/* our gallary end */