/* menu start */
#menu{
    width: 100%;
    margin-top: 60px;
}
.heading3{
    text-align: center;
    font-size: 30px;
    color: #b2744c;
    font-weight: bold;
    border-bottom: 2px solid #b2744c;
}
#container2{
    margin-top: 30px;
}
#menu .card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.star {
    color: #b2744c;
}
#menu h3{
    text-align: center;
    color: #b2744c;
    margin-top: 10px;
    font-size: 25px;
}
#menu p{
    font-size: 16px;
    color: #b2744c;
    padding-top: 10px;
}
#menu p span{
    float: right;
    cursor: pointer;
}
/* menu end */
