/*navbar :start*/
#navbar{
    background-color: #b2744c;
}
#logo img{
    border: 10px;
    width: 160px;
    margin-left: 40px;
}
.navbar-nav{
    margin-left: 50px;
}
.nav-item .nav-link{
    color: black;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.5s;
}
.nav-item .nav-link:hover{
    background:#f7f5f2;
    border-radius: 5px;
    color: black;
}
#navbar form button{
    background: black;
    color: white;
    border: 1px solid white;
}
/*navbar :end*/